[Unit]
Description=ServeMSX for Media Station X
Requires=network.target
After=network-online.target syslog.target

[Service]
Type=simple
WorkingDirectory=/opt/ServeMSX
ExecStart=/opt/ServeMSX/ServeMSX -t
Restart=on-success

[Install]
WantedBy=multi-user.target
